{% load static %}

<!--Banner Section Start-->
<section id="home" class="banner-section pt-page"
        style="background-image: url('media/background_images/picture.jpg')">


    <div id="particles-js"></div>

    <div class="banner-content">
        <!--Banner Text-->
        <h1 class="mb-20">
            A'lamxo'jayeva Ruxshona
        </h1>

        <!--Animated Text-->
        <p class="cd-headline clip is-full-width">
            <span>I am a </span>
            <span class="cd-words-wrapper">
                        <b class="is-visible">Django Backend Developer </b>
                        <b>Telegram Bot Developer</b>
            </span>
        </p>
    </div>
</section>
<!--Banner Section End-->
