{% load static %}

<!--Header Start-->
    <header>
          <div class="header-content">

              <!--Mobile Header-->
              <div class="header-mobile">
                  <a class="header-toggle"><i class="fas fa-bars"></i></a>
                  <h2 style="text-transform: none;">Ruxshona Dev</h2>
              </div>

              <!--Main Header-->
              <div class="header-main" data-simplebar>
                  <div class="image-container">
                      <h2 class="header-name" style="text-transform: none;">Ruxshona Dev</h2>
                        <img src="media/ruxshona-images/profile.jpg" alt="Ruxshona Dev">
                  </div>

                  <!--Nav Menus-->
                  <nav class="nav-menu">
                      <ul>
                          <li><a href="#home" class="pt-link active"><span class="nav-menu-icon"><i class="lnr lnr-home"></i></span>Home </a> </li>
                          <li><a href="#about" class="pt-link"><span class="nav-menu-icon"><i class="lnr lnr-user"></i></span>About Me</a></li>
                          <li><a href="#resume" class="pt-link"><span class="nav-menu-icon"><i class="lnr lnr-license"></i></span>Resume</a></li>
                          <li><a href="#portfolio" class="pt-link"><span class="nav-menu-icon"><i class="lnr lnr-briefcase"></i></span>Portfolio</a></li>
                          <li><a href="#contact" class="pt-link"><span class="nav-menu-icon"><i class="lnr lnr-envelope"></i></span>Contact</a></li>
                      </ul>
                  </nav>

                  <!--Nav Footer-->
                  <div class="nav-footer">
                      <!--Social Links-->
                      <ul class="social">
                            <li>
                                <a href="https://t.me/Altruist_21" target="_blank">
                                    <i class="fab fa-telegram"></i>
                                </a>
                            </li>


                      </ul>
                      <!--Copyright Text-->
                      <div class="copy">
                          <p>
                              <span id="year"></span> © <b>RuxshonaDev</b>
                              <br>
                              Barcha huquqlar himoyalangan.
                          </p>

                      </div>
                  </div>

              </div>
          </div>
      </header>
<!-- JavaScript - Yil avtomatik o‘zgarishi uchun -->
<script>
    document.getElementById("year").textContent = new Date().getFullYear();
</script>

<!--Header End-->\
